/* import the google fonts for project */
@import url('https://fonts.googleapis.com/css?family=Gugi|Source+Sans+Pro');


body {
  margin: 0;
  padding: 1rem;
  font-family: 'Source Sans Pro', sans-serif, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: repeat #ccbad3 url('ski-grey.png');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: 'Gugi', cursive;
}

#root {
  text-align: center;
  padding: 1rem;
  border-radius: 2rem;
  background-color: rgb(154, 145, 158, .5);
}